/*** COLORs ***/
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-0: #CCC;
$color-gray-1: #f0f0f0;
$color-primary: #EC974E;
$color-secondary: #3C3C3B;
$color-1: #66707B;
$color-2: #f9f9f9;
$color-3: #f4f4f4;
$color-4: #455A64;
$color-5: #ECE5E5;
$color-6: #747373;
$color-7: #949494;
$color-error: #DB0000;

/*** FONTs ***/
$font-primary: "Helvetica LT Std", sans-serif;
$font-secondary: "Overpass", sans-serif;

$font-size: 16px;

/*** EASES ***/
$ease-0: all 0.3s ease;
$ease-1: all 0.5s ease-in-out;

/*** CONFIGs ***/
$img-path: "../images/";
$font-path: "../fonts/";
