.nav-tabs{
    border-bottom: none;
    border-top: 1px solid $color-5;
    justify-content: space-between;
    margin-bottom: 25px;

    @media (max-width: 390px){
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-item{
        .nav-link{
            border: none;
            border-top: 6px solid #CBCBCB;
            color: $color-secondary;
            border-radius: 0;
            font-size: rem(14);
            font-weight: 300;
            max-width: 120px;
            padding: 10px 0;
            margin-bottom: 0;
            margin-top: -6px;

            @media (max-width: 991px){
                margin-top: -1px;
            }

            @media (max-width: 390px){
                display: block;
                max-width: 100%;
                width: 100%;
            }

            span{
                display: block;
                font-size: rem(12);
                line-height: 14px;
                color: #888;
                margin-top: 9px;
            }

            &.active, &:hover{
                font-weight: 700;
                border-top: 6px solid $color-primary;
            }
        }
    }
}

.tab-content{
    border-top: 1px solid $color-5;
    padding-top: 2rem;
}
